.recommend {
  height: 20%;
  border: 1px solid #b9b9b9;
  margin-top: 10px;
  border-radius: 10px;
  padding: 0 20px;
  overflow: hidden;

  .recommend-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    p {
      color: #a2a2a2;
      font-weight: bold;
    }
  }
}
.recommends {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;

  .recommend-info {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 35px;
      border: 3px solid rgb(228, 24, 89);
    }

    .recommend-info-el {
      margin-left: 15px;

      p {
        font-size: 16px;
      }

      span {
        color: #a2a2a2;

        &:nth-last-child(1) {
          position: absolute;
          right: 0;
          border: none;
          cursor: pointer;
        }
      }

      .follow.true {
        color: rgb(0, 0, 255);
      }
    }
  }
}
