.comments {
  width: auto;
  margin-left: 18px;
  margin-right: 5px;
  font-size: 15px;

  .comment {
    display: flex;
    width: 100%;

    .commentUserId {
      font-weight: bold;
      padding-right: 5px;
    }
    .deleteBtn {
      margin-left: auto;
    }
  }
}
