@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.aside {
  position: fixed;
  top: 0;
  right: calc((100vw - 935px) / 2);
  width: 300px;
  padding: 30px 24px 30px 30px;
  margin-top: 56px;
  background-color: #fafafa;

  &-profile {
    @include flexbox(space-between);

    margin-bottom: 24px;

    &-left {
      @include flexbox(flex-start);
    }

    &-img {
      display: block;
      width: 56px;
      height: 56px;
      margin-right: 16px;
      border-radius: 50%;
    }

    &-id {
      .user-id {
        display: block;
        font-size: 14px;
      }

      .user-username {
        color: $secondary;
        font-size: 14px;
      }
    }

    &-button {
      color: $blue;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &-recommend {
    margin-bottom: 20px;

    &-header {
      @include flexbox(space-between);

      margin-bottom: 8px;

      h3 {
        font-size: 14px;
        color: $secondary;
      }

      a {
        font-size: 12px;
      }
    }

    &-list {
      padding: 0;
      list-style-type: none;
    }

    &-item {
      @include flexbox(space-between);

      padding: 8px 0;

      &-left {
        @include flexbox(flex-start);
      }

      &-profile {
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 12px;
        border-radius: 50%;
      }

      &-content {
        .user-id {
          font-size: 14px;
        }
      }
    }

    &-reason {
      display: block;
      color: $secondary;
      font-size: 12px;
    }

    &-button {
      color: $blue;
      font-weight: 700;
      cursor: pointer;
    }
  }

  &-footer-list {
    @include flexbox(flex-start);

    flex-wrap: wrap;
    padding: 0;
    margin: 0 2px 20px;
    color: $tertiary;
    font-size: 12px;
    list-style-type: none;
  }

  &-footer-item {
    @include flexbox(flex-start);

    &::after {
      content: "· ";
      margin: 0 4px;
      line-height: 0;
    }

    &:last-child::after {
      content: "";
      margin: 0;
    }
  }

  &-copy {
    color: $tertiary;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1000px) {
  .aside {
    display: none;
  }
}
