.westagram-info {
  max-width: 250px;
  margin-top: 10px;
  color: #a2a2a2;

  span {
    font-size: 14px;
    color: #a2a2a2;

    &::after {
      content: "\00B7";
    }

    &:nth-last-child(2) {
      &::after {
        content: "";
      }
    }
  }
  p {
    padding-top: 10px;
    font-size: 14px;
    color: #a2a2a2;
  }
}
