@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.post-comment-list {
  padding: 0;
  list-style: none;
}

.post-comment-item {
  @include flexbox(space-between);

  align-items: center;
  padding: 4px 0;

  &-left {
    a {
      margin-right: 12px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-right {
    flex-shrink: 0;

    .fa-heart {
      margin-right: 8px;
    }
  }
}
