.recommend_id {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .recommend_id_profile {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 100%;
  }
  .recommend_id_name {
    p {
      &:nth-child(1) {
        font-weight: bold;
      }

      &:nth-child(2) {
        color: gray;
      }
    }
  }

  .follower_text {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    color: #5ba8f2;
    font-weight: bold;
    text-align: center;
  }
}
