@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.dropdown {
  position: relative;
  display: none;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $white;
    border: 1px solid $white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
    transform: rotate(45deg) translateX(-50%);
    z-index: 20;
  }

  &.is-active {
    display: block;
  }

  &-list {
    position: absolute;
    top: 11px;
    padding: 0;
    margin: 0;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.0975);
    list-style-type: none;
    z-index: 25;
  }

  &-item {
    padding: 8px 16px;

    &:hover {
      background-color: $background;
      border-radius: 8px;
    }

    &:first-child:hover {
      z-index: 1;
    }
  }

  &.gnb-search-result-dropdown::before {
    top: 10px;
    left: 50%;
  }

  &.gnb-profile-setting-dropdown {
    &::before {
      top: 14px;
      right: 0;
    }

    .gnb-profile-setting-list {
      width: 230px;
      top: 14px;
      right: -10px;
    }

    .gnb-profile-setting-item {
      a {
        display: block;
      }

      .fa-solid,
      .fa-regular {
        margin-right: 12px;
      }
    }
  }
}

// Profile Setting Dropdown
