.comments {
  display: flex;
  flex-direction: column;
  font-size: 15px;

  li {
    display: flex;
    align-items: center;
  }

  .comments-right-info {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    margin-right: 10px;

    .deleteComments {
      background-color: transparent !important;
      border: none;
      border-color: transparent;
      cursor: pointer;
    }
    .fa-solid {
      color: red;
    }
  }
  i {
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  span {
    font-size: 15px;
    font-weight: bold;
  }
  p {
    margin-left: 10px;
  }
}
