.wrapper {
  max-width: 935px;
  padding: 24px;
  margin: 0 auto;

  .feed {
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 600px;
    margin-top: 55px;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    display: flex;
    justify-content: center;
  }
}
